In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pydataset import data
import statistics
import seaborn as sns
import env
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import scipy
from scipy import stats
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
import sklearn.linear_model
import sklearn.preprocessing
import warnings
warnings.filterwarnings("ignore")
# importing my personal wrangle module
import wrangle
import model
import viz

In [2]:
# Acquiring the data using the wrangle
zillow_sql_query = wrangle.get_zillow_data()
# I am working with a copy of the SQL query to be able to access it faster
zillow = zillow_sql_query.copy()

In [3]:
zillow = wrangle.clean_and_prep_data(zillow)

In [4]:
encoded = wrangle.encode_zillow(zillow)

In [5]:
train, validate, test,X_train, y_train, X_validate, y_validate, X_test, y_test = wrangle.split_zillow(encoded)

In [6]:
train_scaled, X_train_scaled, y_train_scaled, \
validate_scaled, X_validate_scaled, y_validate_scaled, \
test_scaled, X_test_scaled, y_test_scaled = wrangle.scale_zillow(train, validate, test)

In [7]:
X_train_kbest, X_validate_kbest, X_test_kbest, X_train_rfe, X_validate_rfe, X_test_rfe \
= model.create_data_for_models(X_train_scaled, X_validate_scaled, X_test_scaled)

In [26]:
train.bathrooms.value_counts()

2.0    11783
3.0     5084
1.0     4956
2.5     2061
4.0      529
1.5      464
3.5      246
Name: bathrooms, dtype: int64

In [27]:
copy = train.copy()
copy

,bedrooms,bathrooms,sq_ft,tax_value,county,age,sq_ft_per_bathroom,LA,Orange,Ventura
44364,3.0,2.0,2525.0,347114.0,LA,84,1262.500000,1,0,0
46624,4.0,2.0,1337.0,500000.0,Orange,67,668.500000,0,1,0
11864,3.0,4.0,2881.0,757360.0,LA,69,720.250000,1,0,0
15449,2.0,1.0,1397.0,520117.0,Orange,74,1397.000000,0,1,0
25692,2.0,1.0,1103.0,137886.0,LA,116,1103.000000,1,0,0
...,...,...,...,...,...,...,...,...,...,...
17012,2.0,2.0,1424.0,529764.0,LA,67,712.000000,1,0,0
51716,4.0,3.0,2133.0,95220.0,LA,67,711.000000,1,0,0
27316,3.0,2.0,2442.0,159427.0,LA,69,1221.000000,1,0,0
46126,3.0,2.0,1080.0,147044.0,LA,30,540.000000,1,0,0
30304,4.0,3.0,1712.0,614000.0,Orange,47,570.666667,0,1,0

In [33]:
copy.bathrooms.value_counts()

2.0    11783
3.0     5084
1.0     4956
2.5     2061
4.0      529
1.5      464
3.5      246
Name: bathrooms, dtype: int64

In [32]:
copy['has_half_bath'] = copy[copy.bathrooms == '1.5']

ValueError: Wrong number of items passed 10, placement implies 1